sli {
    font-size: 2rem;
    width: 300px;
    margin: 4px;
    padding: 4px;
    list-style: none
    }
    .midlaner {background-color: #e71837}
    .toplaner {background-color: #0e4bef}
    .jungler {background-color: #106b21}
    .support {background-color: #ff7b00}
    .adc {background-color: #ffff00}

    